div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
width: 670px; 
}


div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}

div.slideshow-container {
	position: relative;
	clear: both;
	height: 416px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 670px;
	height: 416px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {
	

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 671px;
	height: 416px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 0; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
    margin-left:-5px;
}

span.image-caption {
	
}
div.caption {

	
}
div.caption a {
	
}



ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin-left:3px;
	list-style: none;
}
a.thumb {
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}

ul.thumbs2 {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs2 li {
	float: left;
	padding: 0;
	margin-left:10px;
	list-style: none;
}
a.thumb2 {
	display: block;}
	
ul.thumbs2 li.selected a.thumb2 {
	background: #000;
}
a.thumb2:focus {
	outline: none;
}
ul.thumbs2 img {
	border: none;
	display: block;
}



div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}

div.caption-container {
	position: relative;
	clear:both;
	width:670px;
	background:#f3f3f3;
}
span.image-caption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;

}
.navigation-container{
	margin-bottom:0;}

*/