@charset "utf-8";
/* CSS Document */

.MainArea{
	padding:10px 0;
	text-align:center;
	background:#f3f3f3;}
	
.MainArea .Figure{
    width: 960px;
	margin:0 auto;
	height: 460px;}
	
.IndexMain{
	padding: 20px 0 25px;}
	
.IndexBanner{
	padding:10px 0;
	background: url(../images/common/parts/naname.jpg) repeat;}
	
.IndexBanner .Figure{
	width: 960px;
	margin:0 auto;}
	
.IndexArea01{
	padding: 20px 0 40px;
	border-bottom:#CCC 1px solid;}
	
.InfoSectionL{
	width:510px;
	float:left;}
	
.InfoSectionL p.list{
	text-align:right;}
	
.InfoSectionL ul{
	margin-bottom:20px;}
	
.InfoSectionL li{
	padding:5px 0;
	background: url(../images/common/parts/d_line.jpg) bottom repeat-x;}
	
.InfoSectionL li span.date{
	color: #666;
	display:block;}
	
	
.InfoSectionR{
	width:410px;
	float:right;}
	
.InfoSectionR h1{
	float:left;}
	
.InfoSectionR h1 p.list{
	text-align:right;}
	
.IndexList{
	width:312px;}
	
.IndexList li{
	padding:20px 0 10px;
	background: url(../images/common/parts/d_line.jpg) bottom repeat-x;}
	
.IndexList li img{
	float:left;}
	
.IndexList li .text{
	width:205px;
	float:right;}
	

	
.IndexList li span.date{
	color: #666;
	display:block;}
	
.IndexList li span.case{
	color: #1a1a1a;
	display:block;}
	
.IndexList li span.voice{
	color: #666;
	display:block;}
	
.IndexList li span.link{
	margin-left:10px;}
	
	
.VoiceSectionL{
	width:625px;
	float:left;
	padding-top:20px;}
	
.VoiceSectionL h2{
	margin:18px 0 13px;}

.VoiceSectionL li{
	float:left;
	margin-right:2px;}

.VoiceSectionR{
	width:312px;
	float:right;}
	
.IndexArea02{
	padding: 40px 0 40px;
	border-bottom:#CCC 1px solid;}
	
.BlogSectionL{
	float:left;
	width:312px;}
	
.BlogSectionR{
	float:right;
	width:610px;}
	
.IndexArea03{
	padding: 40px 0 60px;}
	