@charset "utf-8";
/*----- Concept -----*/


/**--- Plan ---**/

.ConceptArea{
	width:670px;
	padding-bottom:60px;}


.Menu{
	width:100%;
	margin-top:20px;
	}

.MenuBox{
	width:210px;
	background: #a47251;
	float:left;
	padding-bottom:10px;
	text-align:right;}


.MenuBox .Btn{
	margin: 35px 10px 0;}
	
	
.ConceptArea h2{
	margin-bottom:30px;}
	
.ConceptArea .Text01{
	margin:30px 0 58px;}
	
.ConceptArea .Text02{
	margin:25px 0 50px;}
	
.ConceptArea .Text02 p{
	margin-bottom:20px;}
	
	
.ConceptArea .Text03{
	margin:30px 0 35px;}
	
	
.ConceptArea .Text04{
	margin:20px 0 25px;}
		
.ConceptArea .PlanBox{
	width:100%;
	background: url(../images/concept/planning/index/bg.jpg) repeat-x bottom;
	margin-bottom:10px;
	height: 220px;}
	
.PlanBoxR{
	float:right;
	width:425px;
	margin-right:15px;
	padding:40px 0 15px;}
	
.PlanBoxR h2{
	margin-bottom:25px;}
	
	
.PlanBoxR .Btn{
	margin-top:30px;
	width:100%;
	text-align:right;}
	
table.Woodbox01{
	font-size:11px;
	color:#666;}
	
.ConceptArea .Comment01{
	background:url(../images/concept/planning/spaceplanning/img08.jpg) no-repeat center;
	width: 670px;
	text-align:right;
	margin:10px 0;}
	
.ConceptArea .Comment02{
	width: 670px;
	text-align:right;
	margin:10px 0 40px;}
	
	
/**--- technology/index ---**/
	
.TechnoBox01{
	margin-bottom:30px;
	width:100%;}
	
.TechnoMenu{
	width:320px;
	height:185px;
	background: url(../images/concept/planning/index/bg.jpg) repeat-x bottom;}
	
.TechnoMenu .Inner{
	width:170px;
	height:154px;
	margin-right:25px;
	float:right;}
	
.TechnoMenu .Inner h4{
	margin-bottom:15px;}
	
.TechnoMenu .Btn{
	width:100%;
	bottom:10px;
    text-align:right;}
		
.TechnoMenu .Btn img{
    margin-right:10px;}
	
	
	
/**--- technology/Taishin ---**/
	
table.TaishinTable{
	border: 1px solid #ccc;
	font-size:11px;
	line-height:13px;
	vertical-align:top;
	color:#666;}
	
table.TaishinTable td{
	vertical-align:top;}
	
table.TaishinTable td p{
	margin-bottom:10px;
	margin-left:10px;}
		
table.TaishinTable th{
	font-weight:normal;
	text-align:left;}	

table.TaishinTable2{
	width:100%;
	margin-bottom:55px;
	border-collapse:collapse;
	background: url(../images/concept/technology/taishin/tdbg01.jpg) repeat-y;}

table.TaishinTable2 td{
	border-bottom:1px dotted #7f7f7f;
	padding:15px 5px;}
	
table.TaishinTable2 td p{
	margin:5px;}
	
.Taishinbox01{
	width:670px;
	padding-bottom:10px;
	border-bottom:1px dotted #7f7f7f;
	background: url(../images/concept/technology/taishin/tdbg02.jpg) repeat-y;}
	

/**--- technology/taikyu ---**/


	
.Taikyubox01{
	width:100%;
	font-size:11px;
	color:#666;}
	
.Taikyubox01L215{
	float:left;
	width:215px;
	margin-left:95px;}
	
.Taikyubox01R220{
	float:right;
	width:220px;
	margin-right:15px;}
	
.Taikyubox01L275{
	float:left;
	width:275px;
	margin-left:95px;}
	
.Taikyubox01R275{
	float:right;
	width:275px;}
	
.Taikyubox02{
	width:100%;}
	
.Taikyubox02L{
	width:330px;
	float:left;}
	
/**--- technology/dannetsu ---**/

.Dannetsubox01{
	width:320px;
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;
	height:85px;}
	
.Dannetsubox01R{
	float:right;
	width:245px;}
	
.Dannetsubox01R h4{
	font-weight:bold;}
	
.Dannetsubox02{
	width:100%;}
	
.Dannetsubox02L{
	width:330px;
	float:left;}
	
/**--- technology/materials---**/

.Materialsbox01{
	width:320px;}
	
.Materialsbox01 img{
	display:block;
	margin-bottom:20px;}
	
	
/**--- technology/original---**/

.Originalbox01{
	width:100%;}
	
.Originalbox01 img{
	display:block;
	margin-bottom:20px;}
	
	
/**--- support/flow---**/

.Flowtable01{
	width:100%;
	margin-bottom:50px;}

.Flowtable01 td{
	padding-left:30px;}


/**--- support/after---**/

.Afterbox01{
	float:left;
	width: 201px;
	height:112px;
	color:#FFF;
	background-color:#a47251;}
	
.Afterbox01 p{
	padding: 11px 10px 0;}
	
.Afterbox02R{
	float:right;
	width: 234px;
	text-align:right;}
	
.Afterbox03{
	float:left;
	width:160px;}
	
.Afterbox03 img{
	display:block;
	margin-bottom:10px;}
	
	
	
/*----- Modelhouse -----*/


.ModelArea{
	width:670px;
	padding-bottom:60px;}
	
.ModelArea h2{
	margin-bottom:30px;}
	

.ModelArea .IndexBox01{
	width:100%;
	background-color:#1a1a1a;
	padding-bottom:15px;}

.ModelArea .IndexBox01 .Text01{
	margin: 25px 15px 65px;
	color:#FFF;}
	
.IndexBox02{
	width:640px;
	margin:0 auto;}
	
.IndexBox02R{
	float:right;
	width:321px;
	height:220px;
	color: #FFF;
	position:relative;}
	
.IndexBox02R p{
	padding:28px 0 0 18px;}
	

.IndexBox02R span{
	display:block;
	padding:0 10px 0 10px;}
	
.IndexBox02R img.btn{
	bottom: 0 ;
	right:0;
	position:absolute;}
	
	
.ModelBox01{
	width:670px;
	background:#f3f3f3;}
	
.Text02 p{
	padding: 20px 15px 5px;}	
	
.Text02 ul{
	float:right;
	width:354px;}
	
.Text02 li{
	float:left;
	margin-left:10px;}
	
.ModelBox01 .Imagebox{
	width: 670px;}
	
.ModelBox01 .thumbs{
	width:640px;
	background:#f3f3f3;
	margin:10px auto 0;}
	
.ModelBox01 .thumbs li{
	float:left;}

.ModelBox01 .Commentbox{
	margin:0;
	background:#f3f3f3;}
	

.caption{
	width:670px;
	clear:both;
	margin:0;
	padding:10px 0;
	background:#f3f3f3;}
	
.captionInner{
	width:640px;
	margin-left:15px;
	background:#FFF;}
	


		
.image-title{
	float:left;
	width: 180px;
	margin:10px;
	height:75px;
	background:url(../images/common/parts/naname.jpg) repeat;}

.image-title p{
	padding:10px 5px;
	font-weight:bold;}
	
.image-desc{
	float:right;
	width:425px;
	height:75px;
	margin:10px 10px 10px 5px;}
	
.image-desc p{
	padding:10px 0;}
	
.ModelBox01 .Text03{
	width:670px;
	background:#f3f3f3;
	padding-top:145px;
	padding-bottom:30px;}
	
.ModelBox01 .Text03 p{
	padding:0 15px;}	

	
/**--- Other/privacy ---**/

.OtherArea{
	width:670px;
	padding-bottom:60px;}

.OtherArea h1{
	margin-bottom:30px;}
	
.OtherArea .Privacybox{
	width:100%;
	margin-bottom:45px;}
	
.OtherArea .Privacybox h2{
	margin-bottom:25px;}
	
.OtherArea .Privacybox h3{
	margin-bottom:30px;}
	
	
.OtherArea .Privacybox li{
	float:left;
	margin-right:25px;
	margin-bottom:25px;}
	
/**--- Other/profile---**/
	
table.Profiletable{
	width:100%;
	margin-bottom:50px;}	
	
table.Profiletable th{
	width:150px;
	color:#666;
	text-align:left;
	padding:20px 0;
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;}

table.Profiletable th p{
	margin-left:10px;}
	
table.Profiletable td{
	padding:20px 0;
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;}	
	
	
	
/**--- Other/sitemap---**/	

.SitemapBox{
	margin-bottom:50px;}

.SitemapBox li {
	padding:15px 0;
	clear:both;
	width:100%;
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;}	
	
.SitemapBox li p{
	width:230px;
	background:url(../images/other/sitemap/img02.jpg) no-repeat ;}			
	
.SitemapBox li p a{
	margin-left:30px;
	font-weight:bold;
	color:#333;
	text-decoration:underline;}	
	
.SitemapBox li dl{
	float:right;
	width:440px;}
	
.SitemapBox li dt{
	float:left;
	width:165px;
	color:#666;
	clear:both;
	font-weight:bold;}
	
.SitemapBox li dd{
	float:right;
	width:275px;}
	
	
/*---------land---------*/


li {
	margin: 0;
	list-style: none;
	}
/*---------png画像など---------*/
 .iepngfix {  
 behavior: expression(IEPNGFIX.fix(this));  
 }
ol, ul {
	margin: 0;
	padding:0;
	}
.M5T{
	margin-top:5px;}
.M10T{
	margin-top:10px;}
	.M30T{
	margin-top:30px;}
	.M40T{
	margin-top:40px;}
	
.Limg{
	float:left;}
	
.Rimg{
	float:right;}	
	
	.ML15px{
		margin-right:15px;}
#wrapper {
	width:870px;
	padding:10px 0 0;
	text-align:center;
	margin: 0 auto;

}


#Heder{
	width:870px;
	padding:20px 0;
	margin:0 auto;}
	
#HederL{
	text-align:left;
	float:left;
	padding-top:42px;
	width:160px;}	
		
*html #HederL{
	text-align:left;
	float:left;
	padding-top:30px;
	width:160px;}	
	
*:first-child+html #HederL{
	text-align:left;
	float:left;
	padding-top:30px;
	width:160px;}	
	
	
	#HederR{
		float:right;
	text-align:left;

	width:680px;}
	
#HederR li{
	margin-top:10px;
	margin-left:8px;
	float:right;}	
	
	
#Con{
	width:870px;
	margin:0 auto;
	position:relative;
	padding:20px 0;}
	
		
	.Com{
		width:870px;
		padding:60px 0 20px;
	margin:0 auto;}
			
	.Com02{
		width:870px;
		padding:20px 0 20px;
	margin:0 auto;}
.ComL{
	float:left;
	width:650px;
	text-align:left;}
	
 .ComR{
	float:right;
	width:200px;}
	
.ComR img{
	margin-bottom:30px;}	
	
	
/* 実績 */	
.ComL .Jisseki{
	background:#a9b588;
	padding-bottom:20px;
	width:650px;
	margin-bottom:20px;}	
	
 .Jisseki h3{
	 border-bottom:#a9b588 solid 1px;
	 margin-bottom:5px;}	
	
	.Jisseki .JissekiCon{
		width:550px;
		margin:0 auto;}
		
	.JissekiCon td{
		font-size:14px;}
		
		
	.Jisseki .JissekiOther{
		width:550px;
		margin:0 auto;}
		
	.JissekiOther td{
		line-height:24px;
		font-size:14px;}	
		
		
		
	/* スプリング */

.Map{
	width:316px;
	position:absolute;
	left: -2px;
	top: 191px;
}
.ComL .Spring{
	margin-bottom:20px;
	width:650px;}

.Spring h2{
	 margin-bottom:20px;
}

.Spring h3{
	 border-bottom:#fff solid 1px;
	 margin-bottom:15px;
}	
	 
.Spring h4{
	 margin-bottom:15px;
}	

.ComL .Spring p{
	font-size:12px;
	line-height:20px;}
	
.ComL .Spring td p{
	font-size:12px;
	line-height:14px;}		
		 
.ComL .SpringCon{
	padding-top:10px;
	width:650px;}	 
	 
.ComL .SpringConR{
	float:right;
	width:380px;
	padding-bottom:15px;
	text-align:center;}	 
	 
	.ComL .SpringConR td{
		background:#eaeaea;
		padding:6px 0;
		text-align:center;
		font-size:12px;
		border-bottom:#FFF 4px solid;} 
	 .ComL .SpringConR th{
		padding:6px 0;
		font-size:12px;
		background:#d0d0d0;
		border-bottom:#FFF 4px solid;} 
	.ComL .SpringConR table{
		margin-bottom:10px;} 
	 
	 
	 
	 .ComL .SueCon{
	padding-top:10px;
	width:650px;}	
	 
	 
	.ComL .SueConR{
	float:right;
	width:310px;
	padding-bottom:15px;
	text-align:center;}	 
	 
	.ComL .SueConR td{
		background:#eaeaea;
		padding:6px 0;
		text-align:center;
		font-size:12px;
		border-bottom:#FFF 4px solid;} 
	 .ComL .SueConR th{
		padding:6px 0;
		font-size:12px;
		background:#d0d0d0;
		border-bottom:#FFF 4px solid;} 
	.ComL .SueConR table{
		margin-bottom:10px;}  
	 
	 
	 .ComL .SueConL{
		 float:left;
	width:310px;
	padding-bottom:15px;
	text-align:center;}	 
	 
	.ComL .SueConL td{
		background:#eaeaea;
		padding:6px 0;
		text-align:center;
		font-size:12px;
		border-bottom:#FFF 4px solid;} 
	 .ComL .SueConL th{
		padding:6px 0;
		font-size:12px;
		background:#d0d0d0;
		border-bottom:#FFF 4px solid;} 
	.ComL .SueConL table{
		margin-bottom:10px;} 

	 .ComL .ShirahoCon{
	padding-top:10px;
	width:650px;}	
	 
	 
	.ComL .ShirahoConR{
	float:right;
	width:319px;
	padding-bottom:15px;
	text-align:center;}	 
	 
	.ComL .ShirahoConR td{
		background:#eaeaea;
		padding:6px 0;
		text-align:center;
		font-size:12px;
		border-bottom:#FFF 4px solid;} 
	 .ComL .ShirahoConR th{
		padding:6px 0;
		font-size:12px;
		background:#d0d0d0;
		border-bottom:#FFF 4px solid;} 
	.ComL .ShirahoConR table{
		margin-bottom:10px;
		width:100%;}  
	 
	 
	 .ComL .ShirahoConL{
		 float:left;
	width:319px;
	padding-bottom:15px;
	text-align:center;}	 
	 
	.ComL .ShirahoConL td{
		background:#eaeaea;
		padding:6px 0;
		text-align:center;
		font-size:12px;
		border-bottom:#FFF 4px solid;} 
	 .ComL .ShirahoConL th{
		padding:6px 0;
		font-size:12px;
		background:#d0d0d0;
		border-bottom:#FFF 4px solid;} 
	.ComL .ShirahoConL table{
		margin-bottom:10px;
		width:100%;} 	

	 
	#Fotter{
		background:#000;
		padding:10px 0 30px;}	
		
	#Fotter .Fotter{
		text-align:right;
		margin:0 auto;
		width:700px;}	
		
.f10{
	font-size:10px;
	line-height:16px;}	
			

/**--- Contact---**/	
	
.ContactArea{
	width:670px;
	padding-bottom:60px;}

.ContactArea h1{
	margin-bottom:30px;}
	
.ContactArea h2{
	margin-bottom:25px;}
	
.ContactArea img.Tel{
	margin-bottom:50px;}
	
	
.FB12{
	color:#0068b2;}	
	
.ContactBox{
	padding-bottom:25px;
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;}

.ContactTable {
	width:670px;}
		
.ContactTable th{
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom #f6f6f6;
	width:190px;
	font-weight:normal;
	text-align:left;
	padding:20px 0;}
	
.ContactTable th p{
	margin-left:10px;}
	
.ContactTable td{
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;
	padding:20px 15px;}

.ContactTable td p{
	margin-bottom:15px;}

.tblareabtn{
	text-align:center;
	width:200px;
	margin:10px auto 50px;}
	
/**--- Recruit---**/

.job_area{
	width: 670px;
	display: block;}
	
.job_area h4{
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;
	padding:20px 0 10px;
	font-size:20px;}
	
.job_area dl{
	overflow:hidden;
	margin-bottom:25px;}
	
.job_area dt{
	float: left;
	width:120px;
	font-weight:bold;
	padding:15px 0;}
	
.job_area dd{;
	padding:15px 0 15px 120px;
	border-bottom:1px #d4d4d4 solid;}