@charset "utf-8";
/* CSS reset */

*{  margin: 0px;
	padding: 0px;
	font-style:normal;
}

html ,body {height: 100%}

html{ 
    overflow-y:auto;
	overflow-x:none;
 } 


img { border: none; 
      vertical-align:bottom;}

a { border: none;
    color:#333;
    text-decoration: underline;}
	
a:hover { color:#999;}


h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;}
	
	
ol, ul, li, dl, dt, dd {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

/* 要素CSS */

body{
	text-align:center;
	line-height:20px;
	margin:0 auto;
	height:100%;
	width:100%;
	color:#333;
	font-size:12px;
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; 
	background:#fff;}
	


.left{
	float:left;}
	
.right{
	float:right;}
	
.clear{
	clear: both;}
	
	
.clearfix {width:100%;}

.clearfix:after{
    content: ""; 
    display: block; 
    clear: both;}
	

/*画像*/


/*font*/
.f11{
	font-size:11px;}
	
.f10{
	font-size:10px;}
	
.FB12{
	color:#0068b2;}

/*margin*/

.MT35{
	margin-top:35px;}

.MT30{
	margin-top:30px;}

.MT15{
	margin-top:15px;}
	


.ML20{
	margin-left:20px;}
	
.ML10{
	margin-left:10px;}	
	
.ML5{
	margin-left:5px;}
.ML4{
	margin-left:4px;}

.ML2{
	margin-left:2px;}	
	
.MB50{
	margin-bottom:50px;}
	
.MB45{
	margin-bottom:45px;}	
	
.MB35{
	margin-bottom:35px;}
	
.MB30{
	margin-bottom:30px;}
	
	
.MB25{
	margin-bottom:25px;}
	
	
.MB20{
	margin-bottom:20px;}
	
.MB15{
	margin-bottom:15px;}		
	
.MB10{
	margin-bottom:10px;}	
.MB5{
	margin-bottom:5px;}
	
	
/*padding*/
.PL120{
	padding-left:120px;}
	
.PB35{
	padding-bottom:35px;}



