@charset "utf-8";
/* common */

#Wrapper{
	width:100%;
	height:100%;
	position:relative;
    min-height: 100%;}
	
body > #Wrapper {
        height: auto;}
.pb10 { padding-bottom:10px;}
.pb20 { padding-bottom:20px;}
.pb30 { padding-bottom:30px;}
.pb40 { padding-bottom:40px;}
.mb10 { margin-bottom:10px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.mb40 { margin-bottom:40px;}
/* header */

#Header	{
	width:100%;
	height:137px;}	
	
#HeaderInner{
	width:960px;
	margin: 0 auto;}
	
.Header{
	overflow:hidden;
	margin:0 0 2px;}
	
.Header h1{
	float:left;
	text-align:left;
	font-size:11px;
	line-height:14px;
	margin-top:4px;}	
	
.Header .nav { margin:8px 0 10px 267px;}
	
.Header .nav ul{
	overflow:hidden;}
	
.Header .nav li{
	float:left;
	margin-right:20px;
	padding-left:5px;
	background:url(../images/common/footer/nav.jpg) left no-repeat;}
	
.Header .tel{
	float:right;
	margin-top:3px;}
.Header .tel a{ margin-right:10px;}
	
#Nav li{	float:left;}
	
#MainArea{
	padding:10px 0;
	text-align:center;
	background:#f3f3f3;}
	
#MainArea #Crumbs{
	width: 960px;
	margin: 5px auto;
	text-align:left;}
	

	
#Crumbs span{
	font-weight:bold;}
	
#MainArea .Figure{
    width: 960px;
	margin:0 auto;
	height: 300px;}
	
		
		
/* contents */		
		
#Contents{
    padding-bottom:110px;
    width:100%;}
	

	
.Article{
	width:960px;
	margin:0 auto;
	text-align:left;}
	
.PageUp{
	width:960px;
	margin:0 auto;
	text-align:right;}
	
.PageMain{
	padding: 30px 0 25px;}	
		
.SectionL{
	width: 670px;
	float:left;}
	
.SectionR{
	width: 270px;
	float: right;}
	
.SectionR .SideNav{
	width:270px;
	margin-bottom:10px;
	background: url(../images/common/side/mmiddle.jpg) repeat-y;}

.SectionR .model_sidenavs img:first-child{
	vertical-align:top;
}

.SectionR .model_sidenavs ul{
	margin-bottom:0px;
}

.SideNav h2{
	width:250px;
	margin:0 auto;
	border-bottom:solid 1px #c8cccb;}	
	
.SideNav ul{
	width:250px;
	margin:0 auto 10px;}	
	
.SideNav li{
	margin:0;
	border-bottom:solid 1px #c8cccb;}
	
.PageUp2{
	width:960px;
	margin:0 auto 25px;
	text-align:right;}
	
/* footer*/		
		
#Footer{
    position:absolute;
    bottom:0px;
	left:0;
    height:110px;
	background:#f3f3f3;
    width:100%;
	text-align:left;}
	
#FooterInner{
	border-bottom:#CCC 1px solid;
	padding-top:32px;
	text-align:center;}
	
.Footer{
	width:960px;
	margin:0 auto;}
	
.Footer img.button{
	float:right;
	margin-top:7px;}
	
.Footer .nav{
	float:left;
	margin-top:7px;}
	
.Footer .nav li{
	float:left;
	margin-right:20px;
	padding-left:5px;
	background:url(../images/common/footer/nav.jpg) left no-repeat;}
	
.Footer address{
	float:right;
	margin-top:10px;}
	
	
	
#form_com {
	
	}
#form_com h4{
	margin-bottom:5px;
	}
	
#form_com h5 {
	padding-bottom:15px;
	}	
.form_li {
	font-size:16px;
	line-height:24px;
	color:#F00;
	}
.form_p {
	margin:10px 0 30px;
	line-height:21px;
	}
	