@charset "utf-8";
/*----- Concept -----*/

.ConceptArea{
	width:670px;
	padding-bottom:60px;}

/*index*/

.Menu{
	width:100%;
	margin-top:20px;
	}

.MenuBox{
	width:210px;
	background: #a47251;
	float:left;
	padding-bottom:10px;
	text-align:right;}


.MenuBox .Btn{
	margin: 35px 10px 0;}
	
	
.ConceptArea h1{
	margin-bottom:30px;}
	
.ConceptArea .Text01{
	margin:30px 0 58px;}
	
.ConceptArea .Text02{
	margin:30px 0 50px;}
	
.ConceptArea .Text02 p{
	margin-bottom:20px;}
	
.ConceptArea .PlanBox{
	width:100%;
	background: url(../images/concept/planning/index/bg.jpg) repeat-x bottom;
	margin-bottom:10px;
	height: 220px;}
	
.PlanBoxR{
	float:right;
	width:425px;
	margin-right:15px;
	padding:40px 0 15px;}
	
.PlanBoxR h2{
	margin-bottom:25px;}
	
	
.PlanBoxR .Btn{
	margin-top:30px;
	width:100%;
	text-align:right;}
	
	
.NewsSection{
	margin:30px 0;
	width:670px;}	
	
.NewsSection dl{
	background: url("../images/common/parts/d_line.jpg") repeat-x top;
	width:670px;
	}
	
.NewsSection dt{
	width:120px;
	padding:20px 0;
	text-align:left;
	float:left;
	color:666666;
	background: url("../images/common/parts/d_line.jpg") repeat-x bottom;
	clear:both;
	}	
	
.NewsSection dd{
	text-align:left;
	padding:20px 0;
	text-align:left;
	background: url("../images/common/parts/d_line.jpg") repeat-x bottom;
	width:550px;
	float:left;
	}	
	

.NewsSection dd a{
	color:#000;
	text-decoration:underline;
	}	
	
		
#Crumbs br {
 display:none;
 }	
.NewsSection dd br {
 display:none;
 }
 	

.NewsSection h3{
	padding:20px 0;
	font-size:16px;
	line-height:24px;
	color:#666666;
	font-weight:bold;
	border-bottom:1px #666666 dotted;
	border-top:1px #666666 dotted;
	margin-bottom:30px;
	}		
	
	
.NewsSectionCon{
	width:670px;
	background: url("../images/common/parts/d_line.jpg") repeat-x bottom;
	padding-bottom:40px;
	margin:0 auto;}
		.Back{
			padding:5px 0;
			text-align:right;}
			
			
			
/*----- お客様の声 -----*/			
			
			
#Voice-index{
	width:670px;
	margin:30px 0;}	
	
#Voice-index .Voice-Box{
	float:left;
	padding-bottom:20px;
	height:300px;
	border-bottom:#999 dotted 1px;
	width:214px;
	margin:0px 4px 20px;}	
	
#Voice-index h3{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:#999 dotted 1px;}	
	
#Voice-index .Voice-Box img{
	margin-bottom:8px;
	border:#0068b2 solid 3px;
	}
				
#Voice-index .Voice-Box .case{
	color:#666666;}		
	
	
	
.VoiceSection{
	margin:30px 0;
	border-bottom:#999 dotted 1px;
	width:670px;}		
	
	
.VoiceSection h3{
	padding:20px 0;
	font-size:16px;
	line-height:24px;
	color:#666666;
	font-weight:bold;
	border-bottom:1px #666666 dotted;
	border-top:1px #666666 dotted;
	margin-bottom:30px;
	}	
	
.VoiceSection .VoiceSectionL{
	float:left;
	width:317px;}	
	
	
.VoiceSection .VoiceSectionL h4{
	color:#a47251;
	font-weight:bold;
	margin-bottom:20px;}
	
.VoiceSection .VoiceSectionL p{
	margin-bottom:20px;}	

.VoiceSection .VoiceSectionR{
	float:right;
	text-align:right;
	width:320px;}	

.VoiceSectionR-no01{
	text-align:right;
	margin-bottom:54px;
	}



.VoiceSectionR-no02{
	text-align:right;
	margin-bottom:30px;
	}
	
.VoiceSectionR-no01 img{
	border:#0068b2 solid 3px;
	}	
	

.VoiceSection-b{
	width:670px;
	margin:20px auto 0;
}

.Voice-bg{
	margin:40px 0 20px;
	width:670px;
	padding:20px 0;
	background:#0068b2;}
	
.Voice-bg-con{
	width:630px;
	margin:0 auto;}	
	
.Voice-bg-con h4{
	color:#a47251;
	font-weight:bold;
	margin-bottom:20px;
	}
	
.Voice-bg-con p{
	color:#FFF;
	}
	
	
	
	
/*----- お客様の声 -----*/	



#Works-Section{
	margin:30px 0;

	width:670px;}	
	
	
.Works-Section{
	width:670px;
	margin:0px 0 30px;}	
	
#Works-Section .Works-Box{
	float:left;
	padding-bottom:20px;
	height:280px;
	border-bottom:#999 dotted 1px;
	width:214px;
	margin:0px 4px 20px;}	
	
#Works-Section h3{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:#999 dotted 1px;}	
	
#Works-Section .Works-Box img{
	margin-bottom:8px;
	border:#b7a563 solid 3px;
	}
				
#Works-Section .Works-Box .days{
	color:#666666;}			
	
	
	
.Main-Photo{
	}	
	
	
.Main-Photo img{
	margin-bottom:20px;
	}	
	
.Main-Photo02 img{
	margin-bottom:20px;
	}		
	
.Main-Photo p img{
	margin-bottom:20px;
	}		
	
	
.Main-PhotoL{
	width:320px;
	float:left;
	}	
	
.Main-PhotoL img{
	margin-top:30px;
	}
	
.Main-PhotoR{
	width:320px;
	float:right;
	}
	
.Main-Photo h4{
	color:#a47251;
	font-weight:bold;
	margin-bottom:20px;
	}	
		
.Main-PhotoR img{
	margin-top:30px;
	}
	
/*土地*/	
	
	#land-index{
		margin:30px auto 0;
		width:670px;}
		
	#land-index .land-index{
		width:670px;
		background:#0068b2;
		padding:20px 0;
		}
	#land-index .land-index02{
		width:640px;
		margin: 0 auto;}		
	#land-index .land-index02 h3{
		margin-bottom:20px;
		}		
#land-index .land-index02 p{
	color:#FFF;
	margin-bottom:20px;}		
		
#land-index .land-common {
	margin:17px auto 0;
	width:640px;}	
	
#land-index .land-common table{
	border-top:#FFF solid 1px;
	border-left:#FFF solid 1px;
	border-right:#FFF solid 1px;
	width:100%;}
	
#land-index .land-common td{
	border-bottom:#FFF solid 1px;
	padding:10px 0;
	background:#00548f;
	color:#fff;}
	
#land-index .land-common .font14{
	font-size:14px;
	}	
#land-index .land-common .no01{
	width:90px;
	padding-left:10px;
	}	
#land-index .land-common .no02{
	width:140px;
	}		
#land-index .land-common .no04{
	width:120px;
	}	
	
	
#land-page{
	margin:0 auto;
	width:670px;}	
	
#land-page .land-page{
	width:670px;
	margin:0 auto;}	
#land-page h3{				
	padding:20px 0;
	font-size:16px;
	line-height:24px;
	color:#666666;
	font-weight:bold;
	border-bottom:1px #666666 dotted;
	border-top:1px #666666 dotted;
	margin-bottom:10px;
	}
.txt-rihgt{
	text-align:center;
	width:90px;
	color:#fff;
	padding:5px 0;
	float:right;
	background:#00548f;
	font-size:14px;
	}	
.txt-left{
	float:left;
	padding-top:8px;
	font-weight:bold;
	width:400px;
	font-size:22px;}	
.land-page02{
	padding:5px 0;
	margin:30px auto 0;
	idth:670px;}	
	
.land-page02 h4{
	color:#a47251;
	margin-bottom:15px;
	font-size:16px;
	font-weight:bold;
	clear:both;
	margin-bottom:10px;}	
	
.land-page02 th{
	padding:5px 0;
	border-bottom:2px solid #FFF;
	background:#d0d0d0;
	}	
.land-page02 td{
	background:#eaeaea;
	text-align:center;
	border-bottom:1px solid #FFF;
	padding:5px 0;}	
.land-banner{
	margin-top:15px;
	text-align: center;}	
/*wordpress部分*/


#nav-below{
	width:64px;
	padding:30px 0;
	margin:30px auto 0;}
	
.nav-previous{
	float:right;
	}

.nav-next{
	float:left;
	}
.entry-utility{
	text-align:right;
	margin-top:20px;}	
.imgTop{
	vertical-align:top;}	
.flot-l{
	float:left;}
.flot-r{
	float:right;
	}	
.alignleft{
	float:left;}
	
	
.m8-l{
	margin-left:8px;}	
	
	
	
/**--- Contact---**/	
	
.ContactArea{
	width:670px;
	padding-bottom:60px;}

.ContactArea h1{
	margin-bottom:30px;}
	
.ContactArea h2{
	margin-bottom:25px;}
	
.ContactArea img.Tel{
	margin-bottom:20px;}
	
	
.FB12{
	color:#0068b2;}	
	
.ContactBox{
	padding-bottom:25px;
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;}

.ContactTable {
	width:670px;}
		
.ContactTable th{
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom #f6f6f6;
	width:190px;
	font-weight:normal;
	text-align:left;
	padding:20px 0;}
	
.ContactTable th p{
	
		margin-left:10px;}
		
 span.red00 {
	 color:#F00;
	 font-size:10px;
	 }
 
.ContactTable td{
	background:url(../images/common/parts/d_line.jpg) repeat-x bottom;
	padding:20px 15px;}

.ContactTable td p{
	margin-bottom:15px;}

.tblareabtn{
	text-align:center;
	width:220px;
	margin:10px auto 50px;}
	
	
	
/**--- reserve---**/	
	
.monthly-calendar{
	margin:0 auto;
	padding-bottom:0px;}
	
.monthly-calendar table{
	border-collapse:collapse;
	font-size:12px;}
	
.monthly-calendar table td,
.monthly-calendar table th{
	border:1px solid #9fa0a0;}
	
.calendar-mark{
	font-size:12px;}
	
.title_area{
	overflow:hidden;
	width:770px;
	margin:35px auto 30px;}
	
.title_area h1{
	float:left;
	margin-right:60px}
	
	
.cation{
	width:450px;
	margin:0 auto 60px;}

	
/*モデルハウス*/
.model_datail{
	margin:30px 0;
}

.model_datail p{
	font-size:16px;
	line-height:30px;
	margin:5px 0;
}

.model_datail p strong{
	font-size:18px;
}

.nsform_area {
	margin:15px 0;
}