@charset "UTF-8";
header{
	width:100%;
	padding:4% 0 3%;
	border-bottom:1px #0269b3 solid;}
header img{
	}
header h1 {
	width:95%;
	margin:4% auto ;
}
header h1 img{
	width:96%;
	padding:0;
	}
.tell{
	width:95%;
	margin:0 auto;
}
.tell img {
	width:100%;
	margin-top:3%;
	}
.clear{
	clear:both;}

.contact_btn{
	margin:0 0px;
	background-color: #086ec2;
	background: -webkit-gradient(linear,
	left top,
	left bottom,
	from(#ee6262),
	color-stop(0.5, #e93737),
	color-stop(0.5, #e30000),
	to(#e93434));
	width:49%;
	border-radius: 8px;
	color:#FFF;
	-webkit-border-radius: 8px;
	border:1px #e30000 solid;
	font-size:10px;
	float:right;}
	
	
	
	
#wrap{
	width:100%;
	}	

	
nav ul {
	display: block;
	overflow: hidden;
	padding: 0 0px;
}

nav ul li {
	display: block;
	width: 100%;
	margin: 0px 0 0;
	padding: 0 0px;
	clear:both;
	border-bottom:#0068b2 solid 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav ul li p{
	width:60%;
	float:left;
	padding-top:5px;
	margin-left:10px;}
nav ul li img{
	float:left;
	width:35%;}

	
nav ul li a {
display: block;
width: 100%;
text-decoration:none;
padding: 0px 0 0;
background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea);
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));

}

nav ul li a:hover {
display: block;
text-decoration:none;
width: 100%;
padding: 0px 0 0;
background: -moz-linear-gradient(top, #fff 0%, #cecece);
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cecece));

}	
	
	
	
.font32{
color:#0068b2;
line-height:24px;
font-size:120%;}	
.font22{
line-height:21px;
color:#333333;
font-size:100%;}

.font-s{
color:#666666;
line-height:24px;
font-size:90%;}	

	
	.float-r{
		float:right;
		}
	.float-l{
		float:left;}
		
.top{
	width:100%;
	padding:15px 0;
	margin-top:10px;
	text-align:right;
	}		
		
#wrap .top img{
	width:20%;
	margin-right:10px;}		
.answer{
padding:10px 0;
width:100%;
text-align:center;
background:#0068b2;
}



#wrap .answer img{
	width:70%;}



.form-bottom{
	width:100%;
	padding-top:10px;
	text-align:center;
	margin:0 auto; }

.form-bottom p{
	font-size:80%;
	margin-bottom:10px;}
	
.back{
	text-align:center;
	padding:10px 0;}	
	
footer{
	text-align:center;
	padding:10px 0;
	width:100%;}		
		
footer img{
	width:90%;}	
	
	
.colo01{
	color:#0068b2;}	
	