@charset "UTF-8";
header{
	width:100%;
	padding:16px 0 0;
	background:#000;}

header h1 img{
	width:45%;
	margin:0 0 15px 15px;
	padding:0;
	}
header h2 {
	font-size:14px;
	line-height:14px;
	color:#fff;
	text-align:center;
	padding:7px 0 7px;
	border-top:1px solid #2d2d2d;
	border-bottom:1px solid #2d2d2d;
}
header h2 img{
	width:45%;
}
header p.title {
	color:#fff;
	font-size:14px;
	letter-spacing:-0.5px;
	line-height:20px;
	text-align:center;
	padding:42px 0;
}
header p.title img{
	width:40%;
}
.clear{
	clear:both;}

.contact_btn{
	margin:0 0px;
	background-color: #086ec2;
	background: -webkit-gradient(linear,
	left top,
	left bottom,
	from(#ee6262),
	color-stop(0.5, #e93737),
	color-stop(0.5, #e30000),
	to(#e93434));
	width:49%;
	border-radius: 8px;
	color:#FFF;
	-webkit-border-radius: 8px;
	border:1px #e30000 solid;
	font-size:10px;
	float:right;}
	
	
	
	
#wrap{
	width:100%;
	}	

	
nav ul {
	display: block;
	overflow: hidden;
	padding: 0 0px;
}

nav ul li {
	display: block;
	width: 100%;
	margin: 0px 0 0;
	padding: 0 0px;
	clear:both;
	border-bottom:#0068b2 solid 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav ul li p{
	width:60%;
	float:left;
	padding-top:5px;
	margin-left:10px;}
nav ul li img{
	float:left;
	width:35%;}

	
nav ul li a {
display: block;
width: 100%;
text-decoration:none;
padding: 0px 0 0;
background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea);
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));

}

nav ul li a:hover {
display: block;
text-decoration:none;
width: 100%;
padding: 0px 0 0;
background: -moz-linear-gradient(top, #fff 0%, #cecece);
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cecece));

}	
	
	
	
.font32{
color:#0068b2;
line-height:24px;
font-size:120%;}	
.font22{
line-height:21px;
color:#333333;
font-size:100%;}

.font-s{
color:#666666;
line-height:24px;
font-size:90%;}	

	
	.float-r{
		float:right;
		}
	.float-l{
		float:left;}

#wrap .tell a {
	display:block;
	width:100%;
	text-align:center;
	text-decoration:none;
	background:	url(../images/common_new/bg_number.jpg) left top repeat #505050;
	padding:14px 0;
}
	
.top{
	width:100%;
	padding:5px 0 15px;
	margin-top:10px;
	text-align:center;
	}		

.top img{
	width:18%;
	margin-right:10px;}		

#wrap .answer a{
	display:block;
	width:100%;
	text-align:center;
	color:#fff;
	text-decoration:none;
	background:	url(../images/common_new/bg_totop.jpg) left top repeat #323232;
	padding:18px 0;
}

@media screen and (min-width : 768px){ #wrap .answer a{ font-size:28px;} }
@media screen and (min-width : 1024px) { #wrap .answer a{ font-size:15px;}; }

.form-bottom{
	width:100%;
	padding-top:10px;
	text-align:center;
	margin:0 auto; }

.form-bottom p{
	font-size:80%;
	margin-bottom:10px;}
	
.back{
	text-align:center;
	padding:10px 0;}	
	
footer{
	text-align:center;
	padding:6px 0;
	width:100%;}		
		
footer img{
	width:90%;}	
	
	
.colo01{
	color:#0068b2;}	
	