@charset "UTF-8";


h2{
	font-size:140%;
	color:#0e6bb0;
	padding:10px 0 10px 10px;
	border-top:3px solid #0060af;
	}

.main-photo{
	border-bottom:3px solid #0060af;
	border-top:3px solid #0060af;}
.txt {
	padding:20px 0;
	width:100%;}	
.txt p{
	padding:0 20px;
	line-height:24px;
	font-size:140%;}	
	
.profile-box{
	padding:5px 0;
	background:#f3f3f3;
	margin:10px auto;
	border:#cccccc solid 1px;
	width:90%;}	
	
.profile-table {
	margin:0 auto;
	width:98%;}
	
.profile-table td{
	padding:10px;
	text-align:left;}	
.td00{
border-bottom:#cccccc solid 2px;}
.profile-table .td01{
	width:30%;}	
	
.profile-table .td02{
	width:70%;}	
.modelhouse{}	
.modelhouse h3{
	font-size:90%;
	background:#0068b2;
	color:#FFF;
	background:url(../images/modelhouse/bg.jpg)  #0068b2 no-repeat left;
	padding:10px 0 10px 10px;
	}

.modelhouse_new h2{
	border-bottom:#666 1px solid;
}	

.modelhouse_new .main-photo{
	border-style:none;
}

.modelhouse_new .main-photo img{
	vertical-align:middle;
}

.modelhouse_new .modelhouse_list li:first-child{
	margin-top:0px;
}

.modelhouse_new .modelhouse_list li{
	padding:0 15px;
	border-style:none;
	margin-top:10px;
}

.modelhouse_new .modelhouse_list li a{
	background:#000;
	padding:5px 0 5px 5px;
}

.modelhouse_new .modelhouse_list li a:hover{
	background:#000;
	padding:5px 0 5px 5px;
}

.modelhouse_new .modelhouse_list a dl {
	width:100%;
	display:table;
}

.modelhouse_new .modelhouse_list a dt {
	width:55%;
	vertical-align:top;
	display:table-cell;
}

.modelhouse_new .modelhouse_list a dt img {
	width:100%;
}

.modelhouse_new .modelhouse_list a dd {
	width:45%;
	display:table-cell;
	vertical-align:top;
	background:url(../images/modelhouse_new/btn_datail.jpg) right bottom no-repeat;
	background-size:50%;
}

.modelhouse_new .modelhouse_list a dd p ,
.modelhouse_new .modelhouse_list a dd img{
	float:none;
	padding:0px;
	margin:0px;
}

.modelhouse_new .modelhouse_list a dd.ttl_img {
	width:100%;
}

.modelhouse_new .modelhouse_list a dd.ttl_img img {
	width:100%;
}

.modelhouse_datail {
	text-align:center;
	width:100%;
	overflow:hidden;}

.modelhouse_datail .title {
	width:100%;
	color:#0060af;
	padding:5px 0;
	border-top:#666 1px solid;
	border-bottom:#666 1px solid;
	margin:0px;
}

.modelhouse_datail h3 {
	font-size:15px;
	line-height:1.5em;
	font-weight:bold;
	letter-spacing:0.5px;
	text-align:center;
	margin:8% 0;}

.modelhouse_datail p{
	font-size:12px;
	line-height:20px;
	margin:10px;
	letter-spacing:-0.5px;
}

.modelhouse_datail .txt_big {
	font-size:20px;
	line-height:1.4em;
	margin:18px;
}

.modelhouse_datail .txt_left{
	text-align:left;
}

.modelhouse_datail .txt_min {
	font-size:14px;
	line-height:17px;
}

.modelhouse_datail .txt_min sup {
	font-size:10px;
	vertical-align:super;
}

.modelhouse_datail .map-box{
	margin-bottom:0px !important;
	width:100% !important;}

.model-contents{
	text-align:left;}



.modelhouse_datail .raijo_form {
	text-align:left;
	width:100%;
}

.modelhouse_datail .raijo_form p {
	margin:0px;
	padding:0px;
}

.modelhouse_datail .raijo_form table {
	width:100%;
}

.modelhouse_datail .raijo_form th {
	line-height:28px;
	width:25%;
	margin:0px;
	padding:0px;
}
	
.modelhouse_datail .raijo_form td {
	line-height:28px;
	width:71%;
	padding-left:4%;
	margin:0px;
	padding:0px;
}
	
.modelhouse_datail .raijo_form input[type="text"] {
	margin-bottom:10px;
	height:20px;
}

.modelhouse_datail .raijo_form .tblareabtn{
	text-align:center;
	line-height:26px;
}
	
	
.modelhouse-h3{
	color:#FFF;
	padding:10px 0 10px 10px;
	background:#0068b2;
	}
	
.modelhouse-h3 .font-h3{
	font-size:85%;}	
	
	
	
.modelhouse-s01{
	margin:0 auto;
	border-top:3px solid #FFF;
	width:100%;}
	
.modelhouse-s01 li{
	width:50%;
	padding:0px 0;
	margin:0;
	text-align:center;
	float:left;
	cursor:pointer;
	border-bottom:1px solid #FFF;}
	 	

	
.modelhouse-s01 li a{
	display:block;
	width:100%;
	color:#FFF;
	background: #cccccc;
	}	
	
	.modelhouse-s01 li a:hover{
	background:#0068b2;
	width:100%;
	display:block;
	}
	
		
	.modelhouse-s01 ul {
	display: block;
	list-style:none;
	overflow: hidden;
	padding: 0 0px;
}


	
	
	

.modelhouse-s01 .font-navs{
	line-height:18px;
	font-size:55%;}	
	
	

	
.model-contents{
	margin: 0 auto;
	padding:10px 0;
	width:100%;}	

.model-contents h4{
	border-bottom:#0068b2 solid 2px;
	border-top:#0068b2 solid 2px;

	padding:5px 0 5px 10px;
	color:#FFF;
	margin-bottom:15px;
	background: -moz-linear-gradient(top, #60c8ff 0%, #14a6ff);
	background: -webkit-gradient(linear, left top, left bottom, from(#60c8ff), to(#14a6ff));
	}
	
.model-contents .map-box{
	width:90%;
	text-align:right;
	margin:0 auto 20px;}
.model-contents	iframe{
	text-align:center;
	border:1px #cccccc solid;
	margin:0 auto 10px;}
	
.model-contents p{
	margin-left:10px;
	font-size:80%;
	line-height:21px;}	
	
.catch-m{
	padding:10px;
	color:#FFF;
	font-size:85%;
	background:#4d7395;}	
	
	
.contents{
	padding-bottom:20px;
	margin-bottom:30px;
	border-bottom:3px solid #0060af;}	
	
	
.news{
	margin-top:15px;
	border-top: solid 3px #0068b2;
	width:100%;
	 }		
	
	
.news-kiji{
	padding:15px 0 0px;
	border-bottom: solid 3px #0068b2;
	width:100%;}	
	
.kiji{
	margin:0 auto;
	width:95%;}	
	
.kiji .day{
	color:#666666;
	padding-bottom:8px;
	border-bottom:#cccccc solid 2px;
	}

.kiji .taitle{
	line-height:24px;
	background:url(../images/common/icon.png) right no-repeat;
	}
	
.kiji .taitle a{
	color:#505050 ;
	text-decoration:none;
	padding:15px 25px 15px 0px;
	display:block;}
	
.news-contents{
	border-top:#0068b2 solid 3px;
	padding:10px;
	line-height:18px;
	font-size:80%;
	}	

.news-contents h3{
	font-size:120%;
	padding:10px 0;
	margin-bottom:10px;
	border-bottom:#cccccc solid 3px;
	color:#0068b2;}	
	{}
	
.news-con{
	width:100%;}	
	
.news-con img{
	margin-top:10px;
	}	
.news-bottom{
	text-align:left;
	padding:10px;}	
.news-bottom p{
	margin-bottom:10px;}	
.page{
	text-align:center;
	margin:5px auto;}	
	
.news li{
	border-bottom:#cccccc solid 2px;
	}
	
#form-contents{
	width:100%;
	padding:10px 0;
	margin:10px auto;
	border-bottom:#0068b2 solid 3px;
	border-top:#0068b2 solid 3px;}
	
	
	
.form-contents{
	padding:10px;}
.form-contents .p_boder{
	padding-bottom:10px;
	text-align:left;
	border-bottom:#cccccc solid 3px;
	line-height:21px;}
	
.form-contents .table01{
	width:100%;
	margin:10px 0 5px;}	
.form-contents td01{
	padding-left:4px;}	
	
.form-contents .form-01{
	width:92%;}	
.form-contents .form-02{
	width:14%;}		

.form-contents .form-03{
	width:97%;}			
	
	
.form-contents .form-01-m{
	width:92%;
	margin:4px 0;}	
.form-contents .form-04-m{
	margin:4px 0;}	
	
.form-contents .fom-bt{
	width:45%;}	
	
.form-contents .form-we{
	text-align:center;}	
.form-contents td{
	padding:4px 0;
	text-align:left;}

li.space{
	padding:5px 5px 15px 5px;} 
