@charset "utf-8";

body      {
	text-align: center;
	margin: 0;
	padding: 0;
	
	}

div,td,th,p,pre  { 
	font: 12px/21px 'Osaka','ＭＳ Ｐゴシック',sans-serif;
	margin: 0 ;

	color:#333;

	}

img  {
vertical-align:bottom;
	border:0;
	margin:0;
	}

a {
-webkit-tap-highlight-color: rgba(255,255,555,0.5); /*白背景・不透明度50％*/
}
.paragraph {
 line-height: 1.8;/* 1.6から1.8推奨 */
}
.imgBotom{
vertical-align:bottom;}

li {
	margin: 0;
	list-style: none;
	}

ol, ul {
	margin: 0;
	padding:0;
	}
li ul {
margin: 0 0 0 1.3em;
padding: 0;
line-height:20px;
}



dd { 
	margin-left: 1em ;
	}

h1   { 
	font-size: 14px; 
	font-weight: bold; 
	margin: 0;
	}

h2,h3   { 
	font-size: 12px; 
	font-weight: bold; 
	margin: 0 ;
	}

h4,h5,h6 {
	font-size:12px;
	font-weight: bold; 
	margin:0;
	}

form {
	margin:0;
	}

.clear  { 
	margin-top: 0; 
	clear: both ;
	}
/*---------png画像など---------*/
 .iepngfix {  
 behavior: expression(IEPNGFIX.fix(this));  
 }
 
 
 /*TOPページに戻る*/
 .TopTxt{
 text-align:right;
 width:100%;}


 /*float画像*/
	.img_L{
	float:left;}
	
	.img_C{
	text-align:center;
	margin:0 auto;}
	
	.img_R{
	float:right;}
	.Mt5px{
		margin-top:10px;}

	.Mt20px{
		margin-top:20px;}
		
	.Mt25px{
		margin-top:25px;}